###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
*.log
/public/images/products/*
!public/images/products/.gitkeep
###< symfony/framework-bundle ###
